h1 {
    text-align: center;

}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    padding: 2px;
}

/* 
.board td: hover {
    background-color: ;
    background-color: #grey;
} */